
svg{
    height: 35px;
}

.value-container{
  display: flex;
  align-items: center;
}

.value-cards{
  display: grid;
  grid-template-columns: 50% 50%;
  box-shadow: 0 0 10px #2d2d2d;
  gap: 30px;
  padding: 30px;
}

.value-description{
  padding: 30px;
}

.value-card{
  padding: 20px;
  border-right: 1px solid #2d2d2d;
}

.value-card-head{
  display: flex;
  align-items: center;
  gap:10px;
}

.svg{
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items:  center;
  border-radius: 50%;
  border: 2px solid #703BF7;
}

.svg span{
  color: #703BF7;
}


/* Achievement */

.our-achievements {
  background-color: #121212;
  color: #ddd;
  padding: 40px 20px;
}

.our-achievements h2 {
  color: #fff;
}

.our-achievements p {
  color: #aaa;
  line-height: 1.6;
}

.achievement-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.achievement-card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 6px;
  padding: 30px;
  width: 30%;
  box-shadow: 0 0 10px #2d2d2d;
  transition: all 0.5s ease-in;
}

.achievement-card h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.achievement-card p {
  font-size: 15px;
  color: #aaa;
  line-height: 1.5;
}

.achievement-card:hover{
  transform: scale(1.1);
}

