@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Urbanist", sans-serif;
    background: #141414;
    color: #999999;
    font-size: .9rem;
}

.logo{
    height: 36px;
}

.hero{
   height:500px;
   width: 100%;
   object-fit: cover;

}

/* Typography */

h1,
h2,
h3,
h4{
    color: white;
}


h1{
    font-size: 3.2rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

.body-bold{
    color: white;
}

.hero-text{
    margin-top: 20px;
}


.hero-btn{
    margin-top: 40px;
}

.hero-reviews{
    margin-top: 30px;
}

.btn-primary{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: .9em 1.14em;
    border-radius: 7px;
    
}

.btn-purple{
    background-color: #703BF7;
}

.btn-purple:hover{
    background-color: white;
    color: black;
}

.btn-purple:focus{
    background-color: white;
    color: black;
}

.btn-black{
    border: 2px solid #1d1d1d;
}

.btn-black:hover{
    background-color: #703BF7;
}

.btn-black:focus{
    background-color: #703BF7;
}

.active{
    background-color: #141414;
     border: 2px solid #1d1d1d;
}






/* Layout */

header{
    padding: 1.42em 2.85em;
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{

}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 1.125em;
}

nav a{
    text-decoration: none;
    color: grey;
    display: inline-block;
    padding: .6em .8em;
    border-radius: 5px;
}

nav a:hover{
     background-color: #141414;
     border: 2px solid #1d1d1d;
}

/* Hero Section  */

.hero-sectin{
    display: flex;
}

.hero-reviews{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.hero-review-block{
    background-color: #1a1a1a;
    padding: 1em 2em;
}

.hero-section-content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section1{
    padding: 20px ;
}

.hero-img{
    width: 50%;
}

