@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Urbanist", sans-serif;
    background: #141414;
    color: #999999;
    font-size: .9rem;
}

.logo{
    height: 36px;
}

.hero{
   width: 100%;
   height: 100%;
   object-fit: cover;

}

.hero-animation img{
    height: 100px;
}

.service-box img{
    height: 60px;
}

/* Typography */

h1,
h2,
h3,
h4{
    color: white;
}


h1{
    font-size: 3.2rem;
}

h2{
    font-size: 1.9rem;
}

h3{
    font-size: 1.5rem;
}

.body-bold{
    color: white;
}

.hero-text{
    margin-top: 1.428em;
}


.hero-btn{
    margin-top: 2.857em;
}

.hero-reviews{
    margin-top: 2.1428em;
}

.btn-primary{
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: .9em 1.14em;
    border-radius: 7px;
    
}

.btn-purple{
    background-color: #703BF7;
}

.btn-purple:hover{
    background-color: white;
    color: black;
}

.btn-purple:focus{
    background-color: white;
    color: black;
}

.btn-black,
.hero-review-block{
    border: 2px solid #2d2d2d;
}

.btn-black:hover{
    background-color: #703BF7;
}

.btn-black:focus{
    background-color: #703BF7;
}

.active{
    background-color: #141414;
     border: 2px solid #1d1d1d;
}


.hero-review-block:hover{
    transform: translateY(-10px);
}

.service-box p{
    margin-top: 20px;
}





/* Layout */

header{
    padding: 1.42em 2.85em;
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{

}

nav ul{
    list-style: none;
    display: flex;
}

nav li{
    margin-left: 1.125em;
}

nav a{
    text-decoration: none;
    color: grey;
    display: inline-block;
    padding: .6em .8em;
    border-radius: 5px;
}

nav a:hover{
     background-color: #141414;
     border: 2px solid #1d1d1d;
}

/* Hero Section  */

.hero-sectin{
    display: flex;
    position: relative;
}

.hero-reviews{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.hero-review-block{
    background-color: #1a1a1a;
    padding: 1em 0.5em 1em .9em;
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.hero-section-content{
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section1{
    padding: 5.7142em;
}

.hero-img{
    width: 45%;
    max-height: 600px;
}

.hero-animation{
    position: absolute;
    top: 0;
    
    z-index: 100;
    left: 52%;
    height: 100px;
    animation: spin 2s linear infinite;
}


/* Animation  */

@keyframes spin{
    from{
        transform: translateY(50%) rotate(0deg);
    }
    to{
        transform: translateY(50%) rotate(360deg);
    }
}

/* Service  */

.services{
    box-shadow: 1px 1px 10px #999999;
    padding: 10px;
}

.service-wrap{
    display: flex;
    justify-content: space-between;
}

.service-box{
    background-color: #1a1a1a;
    width: 24%;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

